<head>
    <link href="https://fonts.googleapis.com/css?family=Biryani|Lato" rel="stylesheet">
</head>

<body>


    <div id="banner">

        <div id="search-pet">
            <h1>Find your pet today!</h1>

            <div class="center">
                <!-- <p> {{ zipcode | json }}  {{ pet_type | json }}</p> -->
                <form (submit)="retrievePets()">
                    <input type="text" name="zipcode" placeholder="Zipcode" [(ngModel)]="zipcode" >


                    <!-- <label for="pet_type">Pet Type</label> -->
                    <select name="pet_type" [(ngModel)]="pet_type" placeholder="Animal Type">
                    <!-- <select name="pet_type"> -->
                        <option value="cat">Cat</option>
                        <option value="dog">Dog</option>
                        <option value="horse">Horse</option>
                        <option value="reptile">Reptile</option>
                        <option value="smallfurry">Smol/furry</option>
                    </select>


                    <!-- <label for="country">Country</label> -->
                        <!-- <select id="country" name="country">
                          <option value="australia">Australia</option>
                          <option value="canada">Canada</option>
                          <option value="usa">USA</option>
                        </select> -->

                    <input class="button" type="submit" name="" value="Submit">
                </form>
            </div>

        </div>
        <img src="../assets/root.jpeg">
    </div>



</body>




<!--
<h3>Pet of the day!</h3>
<img src="{{pet.media.photos.photo[3].$t}}" alt="">
<p>Name: {{ pet.name.$t }}</p>
<p>Age: {{ pet.age.$t }}</p>
<p>Breed: {{ pet.breeds.breed.$t }}</p>





<div *ngIf="errors" id="error_message">
    <p>{{ errors }}</p>
</div> -->
