
<div id="pet-info">

    <div class="gallery">

        <img src="{{pet.media.photos.photo[2].$t}}" />

        <img src="{{pet.media.photos.photo[7].$t}}" />

        <img src="{{pet.media.photos.photo[12].$t}}" />

    </div>

    <div class="main">

        <div id="description">
            <h1>{{ pet.name.$t }}</h1>
            <div id="content">
                <p> {{ pet.description.$t }} </p>

            </div>
        </div>

        <div id="info">
            <h4>Breed:</h4>
                <p>{{ pet.breeds.breed.$t }}</p>
            <h4>Age/Gender:</h4>
                <p>{{ pet.age.$t }} | {{ pet.sex.$t }}</p>
            <h4>Location:</h4>
                <p>{{ pet.contact.city.$t }}, {{ pet.contact.state.$t }}</p>
        </div>

    </div>


</div>
