#pet-info{
    border: black solid 1px;
    width: 80%;
    margin: 10px auto 20px;
    padding: 20px;
}


img {
    width: 28%;
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 25px;
}

#description {
    border: black solid 1px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-right: 25px;
}

#content {
    height: 580px;
    overflow: auto;
}

#info {
    border: black solid 1px;
    display: inline-block;
    vertical-align: top;
    width: 35%
}
