* {
    margin: 0px;
    padding: 0px;
}

#all{
    margin-left: 50px;
}

.pet-info img {
    border-radius: 15px;
    height: 200px;
    max-width: 190px;
    margin-top: 20px

}

.pet-info {
    height: 440px;
    /* border: #888b82 solid 1px; */
    border: #ccc solid 1px;
    width: 221px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    margin-right: 35px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    text-transform: uppercase;
}

p {
    font-size: 12px;
    text-transform: capitalize;
}

.center {
    width: 80%;
    margin: 0px auto 10px;
    /* border: red 1px solid; */
    /* padding-left: 20px; */
}

form{
    /* border: green 1px solid; */
    width: 65%;
    margin: 0px auto 10px;
}

input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cms-assets.tutsplus.com/uploads/users/523/posts/27345/preview_image/search-icon-large.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 50px;
}

#main-select {
    margin: 11px;
    width: 150px;
    padding: 10px 15px 10px 28px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    height: 43px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.acessoriospetchic.com.br/images/pata.png) 96% / 15% no-repeat #eee;
    background-color: white;
}

#filter {
    background-color: #fff;
    border-radius: 5px;
    border:  #cccccc 2px solid;
    color: #00adde;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#filter:hover{
    background-color: #36a3da;
    color: white;
    border:  #36a3da 2px solid;
}

.submit {
    background-color: #fff;
    border-radius: 15px;
    border:  #cccccc 2px solid;
    color: #00adde;
    padding: 11px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.submit:hover{
    background-color: #36a3da;
    color: white;
    border:  #36a3da 2px solid;
}

#more-filter {
    display: block;
    margin-left: 10px;
}

#more-filter select {
    margin-left: 10px;
}
